click==7.1.2
cycler==0.10.0
decorator==4.4.2
easyAI==1.0.0.4
joblib==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.4
pandas==1.2.0
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
scikit-fuzzy==0.4.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
threadpoolctl==2.1.0

tensorflow~=2.4.1
opencv-python~=4.5.1.48